extends layout 

block content 

    h1=title 
    h3=category.name

    p Are you sure you want to Delete this category

        hr
        if(items)
            p Delete the following items before attempting to delete the Category 
        
            for item in items 
                p 
                  a(href=item.url) #{item.name}  
                hr
            
        else   
            form(method='POST' action='')
                input(type='hidden' name='category_id' value=category._id)
                button.submit.btn.btn-primary(type='submit' ) Delete
